		<footer id="footer">
            <section class="section">
                <div class="container">
                    <div class="row element-top-40 element-bottom-40 footer-columns-4">
                        <div class="col-sm-3">
                            <div class="sidebar-widget widget_text">
                                <h3 class="sidebar-header">About Us</h3>
                                <div class="textwidget">
                                    <p>Create stunning pages with our <strong>powerful</strong> admin panel. Functionality and usability combine to let you design your pages without any coding.</p>Get Lambda now and start creating the <strong>perfect</strong>                                    site for you right away. </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="sidebar-widget widget_recent_entries">
                                <h3 class="sidebar-header">Recent posts</h3>
                                <ul>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="creative-post.html" title="Put Your Head on My Shoulders"> <img alt="p11" class="attachment-thumbnail wp-post-image" height="149" src="images/creative/p111-150x150.jpg" width="150"> </a>
                                        </div> <a href="creative-post.html" title="Put Your Head on My Shoulders">Put Your Head on My
                                Shoulders</a> <small class="post-date">September 25, 2014</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="creative-post.html" title="A Flight to Remember"> <img alt="p04" class="attachment-thumbnail wp-post-image" height="150" src="images/creative/p041-150x150.jpg" width="150"> </a>
                                        </div> <a href="creative-post.html" title="A Flight to Remember">A Flight to Remember</a> <small class="post-date">September 25, 2014</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="creative-post.html" title="The Beast with a Billion Backs"> <img alt="p01" class="attachment-thumbnail wp-post-image" height="150" src="images/creative/p011-150x150.jpg" width="150"> </a>
                                        </div> <a href="creative-post.html" title="The Beast with a Billion Backs">The Beast with a Billion Backs</a> <small class="post-date">September 25, 2014</small> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="sidebar-widget widget_categories" id="categories-4">
                                <h3 class="sidebar-header">Categories</h3>
                                <ul>
                                    <li class="cat-item cat-item-17"> <a href="creative-blog.html">Art &amp; Culture</a> </li>
                                    <li class="cat-item cat-item-15"> <a href="creative-blog.html">Education</a> </li>
                                    <li class="cat-item cat-item-12"> <a href="creative-blog.html">Food &amp; Health</a> </li>
                                    <li class="cat-item cat-item-6"> <a href="creative-blog.html">Movies</a> </li>
                                    <li class="cat-item cat-item-1"> <a href="creative-blog.html">Sports</a> </li>
                                    <li class="cat-item cat-item-7"> <a href="creative-blog.html">Travel</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="sidebar-widget widget_archive" id="archives-4">
                                <h3 class="sidebar-header">Archives</h3>
                                <ul>
                                    <li> <a href='creative-blog.html'>September 2014</a> </li>
                                    <li> <a href='creative-blog.html'>August 2014</a> </li>
                                    <li> <a href='creative-blog.html'>July 2014</a> </li>
                                    <li> <a href='creative-blog.html'>June 2014</a> </li>
                                    <li> <a href='creative-blog.html'>May 2014</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section subfooter">
                <div class="container">
                    <div class="row element-top-10 element-bottom-10 footer-columns-2">
                        <div class="col-sm-6">
                            <div class="sidebar-widget widget_text" id="text-4">
                                <div class="textwidget"> Designed and developed by Akash Dubey. Copyright 2016 Zulu Online Services </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="sidebar-widget widget_social" id="oxywidgetsocial-3">
                                <ul class="unstyled inline social-icons social-simple social-normal">
                                    <li>
                                        <a data-iconcolor="#3b5998" href="index.html"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#ea4c89" href="index.html"> <i class="fa fa-dribbble"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#00acee" href="index.html"> <i class="fa fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#E45135" href="index.html"> <i class="fa fa-google-plus"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#c4302b" href="index.html"> <i class="fa fa-youtube"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>        
        
        
