<!doctype html>
<html class="no-js" lang="">

<% include layouts/head  %>
<body class="transparent-header pace-on pace-dot">
	<div id="content" role="main">    
		<%include layouts/header%>
	    <article>
	        <section class="section">
	            <div class="background-media" style="background-image: url(images/creative/p03.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;"> </div>
	            <div class="background-overlay" style="background-color: rgba(96,154,167,0.7);"></div>
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="row text-center element-top-140 element-bottom-20 os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        		<div class="col-md-2 col-xs-2"></div>
                                <div class="col-md-8 col-xs-8">
                                    <img src="/images/creative/L.png"/>
	                        		<img src="/images/creative/A.png"/>
	                        		<img src="/images/creative/M.png"/>
	                        		<img src="/images/creative/B.png"/>
	                        		<img src="/images/creative/D.png"/>
	                        		<img src="/images/creative/A.png"/>
                                </div>
                                <div class="col-md-2 col-xs-2"></div>	
                            </div>
	                        <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
	                            <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.87);"></div>
	                        </div>
	                        <div class="row">
	                            <div class="col-md-2"></div>
	                            <div class="col-md-8">
	                                <h2 class="text-center element-top-0 element-bottom-140 text-light os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0.3s">We provide online services at really affordable prices.</h2>
	                            </div>
	                            <div class="col-md-2"></div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="section">
	            <div class="background-media" style="background-image: url(images/creative/p03.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;"> </div>
	            <div class="background-overlay" style="background-color: rgba(80,126,137,0.7);"></div>
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-4 col-border-right">
	                        <h2 class="text-left element-top-80 element-bottom-20 text-light os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0s">Who are we?</h2>
	                        <div class="col-text-1 text-light element-top-20 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
	                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
	                        </div>
	                        <div class="divider-wrapper">
	                            <div class="visible-xs element-height-90"></div>
	                            <div class="visible-sm element-height-90"></div>
	                            <div class="visible-md element-height-90"></div>
	                            <div class="visible-lg element-height-90"></div>
	                        </div>
	                    </div>
	                    <div class="col-md-4 col-border-right">
	                        <h2 class="text-left element-top-80 element-bottom-20 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">What we do?</h2>
	                        <div class="col-text-1 text-light element-top-20 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
	                            <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
	                        </div>
	                        <div class="divider-wrapper">
	                            <div class="visible-xs element-height-90"></div>
	                            <div class="visible-sm element-height-90"></div>
	                            <div class="visible-md element-height-90"></div>
	                            <div class="visible-lg element-height-90"></div>
	                        </div>
	                    </div>
	                    <div class="col-md-4">
	                        <h2 class="text-left element-top-80 element-bottom-20 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.2s">Why we are good?</h2>
	                        <div class="col-text-1 text-light element-top-20 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
	                            <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling.</p>
	                        </div>
	                        <div class="divider-wrapper">
	                            <div class="visible-xs element-height-90"></div>
	                            <div class="visible-sm element-height-90"></div>
	                            <div class="visible-md element-height-90"></div>
	                            <div class="visible-lg element-height-90"></div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="section">
	            <div class="background-overlay "></div>
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12">
	                        <h1 class="text-center element-top-80 element-bottom-20 os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0s"> Meet the team </h1>
	                        <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
	                            <div class="divider-border-inner"></div>
	                        </div>
	                        <div class="row">
	                            <div class="col-md-2"></div>
	                            <div class="col-md-8">
	                                <h2 class="text-center center element-top-20 element-bottom-90 os-animation light" data-os-animation="fadeIn" data-os-animation-delay="0.2s"> We provide design services that will adapt to your need. Get a fully responsive site so your content will always look good on any screen size. </h2>
	                            </div>
	                            <div class="col-md-2"></div>
	                        </div>
	                        <div class="row staff-list-container list-container element-bottom-60">
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
	                                <div class="figure-image"> <img src="assets/images/creative/team04-notinclude.jpg" alt="Shirley King">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-dribbble"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-behance"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Shirley King</strong> <span>Designer</span> </h3>
	                                    <p class="figure-caption-description"> Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly testing procedures. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
	                                <div class="figure-image"> <img src="assets/images/creative/team02-notinclude.jpg" alt="Dorothy Lewis">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-behance"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-dribbble"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Dorothy Lewis</strong> <span>Designer</span> </h3>
	                                    <p class="figure-caption-description"> Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                                <div class="figure-image"> <img src="assets/images/creative/team09-notinclude.jpg" alt="Carl  Barnes">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-behance"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-dribbble"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Carl Barnes</strong> <span>Designer</span> </h3>
	                                    <p class="figure-caption-description"> Interactively procrastinate high-payoff content without backward-compatible data. Quickly cultivate processes. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
	                                <div class="figure-image"> <img src="assets/images/creative/team13-notinclude.jpg" alt="Joe Ross">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-dribbble"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-behance"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Joe Ross</strong> <span>Designer</span> </h3>
	                                    <p class="figure-caption-description"> Synergistically evolve 2.0 technologies rather than just in time initiatives. Quickly deploy strategic networks. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
	                                <div class="figure-image"> <img src="assets/images/creative/team05-notinclude.jpg" alt="Kevin James">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-google-plus"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-git"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Kevin James</strong> <span>CEO</span> </h3>
	                                    <p class="figure-caption-description"> Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly and intellectual. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
	                                <div class="figure-image"> <img src="assets/images/creative/team06-notinclude.jpg" alt="Dorothy Lewis">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-behance"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-dribbble"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Dorothy Lewis</strong> <span>Designer</span> </h3>
	                                    <p class="figure-caption-description"> Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
	                                <div class="figure-image"> <img src="assets/images/creative/team07-notinclude.jpg" alt="Chris Hill">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-dribbble"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-skype"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Chris Hill</strong> <span>Developer</span> </h3>
	                                    <p class="figure-caption-description"> Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize and scalable metrics. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
	                                <div class="figure-image"> <img src="assets/images/creative/team08-notinclude.jpg" alt="Diane Griffin">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-google-plus"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Diane Griffin</strong> <span>Director</span> </h3>
	                                    <p class="figure-caption-description"> Credibly innovate granular internal sources whereas high standards in web-readiness. With optimal wise networks. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                                <div class="figure-image"> <img src="assets/images/creative/team01-notinclude.jpg" alt="Carl  Barnes">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-behance"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Brandon Reed</strong> <span>CEO</span> </h3>
	                                    <p class="figure-caption-description"> Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate users. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                                <div class="figure-image"> <img src="assets/images/creative/team03-notinclude.jpg" alt="Carl  Barnes">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-git"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-google-plus"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Donald Coleman</strong> <span>Developer</span> </h3>
	                                    <p class="figure-caption-description"> Completely synergize resource sucking relationships premier niche markets. Professionally cultivate customer. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                                <div class="figure-image"> <img src="assets/images/creative/team10-notinclude.jpg" alt="Carl  Barnes">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-google-plus"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Norma Brooks</strong> <span>Director</span> </h3>
	                                    <p class="figure-caption-description"> Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                                <div class="figure-image"> <img src="assets/images/creative/team11-notinclude.jpg" alt="Carl  Barnes">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-git"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-google-plus"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Carlos Robinson</strong> <span>Developer</span> </h3>
	                                    <p class="figure-caption-description"> Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business and applications. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                                <div class="figure-image"> <img src="assets/images/creative/team12-notinclude.jpg" alt="Eugene Jones">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-google-plus"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Eugene Jones</strong> <span>CEO</span> </h3>
	                                    <p class="figure-caption-description"> In the center of the roof was a great light, as bright as the sun, which made the emeralds in a wonderful manner. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                                <div class="figure-image"> <img src="assets/images/creative/team14-notinclude.jpg" alt="Eugene Jones">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-skype"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Rachel Watson</strong> <span>Director</span> </h3>
	                                    <p class="figure-caption-description"> Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                                <div class="figure-image"> <img src="assets/images/creative/team15-notinclude.jpg" alt="Eugene Jones">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-git"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Norma Brooks</strong> <span>Developer</span> </h3>
	                                    <p class="figure-caption-description"> Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes. </p>
	                                </div>
	                            </div>
	                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                                <div class="figure-image"> <img src="assets/images/creative/team16-notinclude.jpg" alt="Susan Phillips">
	                                    <div class="figure-overlay ">
	                                        <div class="figure-overlay-container">
	                                            <div class="figure-caption text-center">
	                                                <ul class="figure-overlay-icons social-icons social-simple">
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
	                                                    </li>
	                                                    <li>
	                                                        <a href="#" target="_self"> <i class="fa fa-git"></i> </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="figure-caption text-left">
	                                    <h3 class="figure-caption-title"> <strong>Susan Phillips</strong> <span>Director</span> </h3>
	                                    <p class="figure-caption-description"> Appropriately empower dynamic leadership skills after business portals. Globally myocardinate interactive supply. </p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="section">
	            <div class="background-overlay" style="background-color: rgba(182,182,182,0.1);"></div>
	            <div class="container container-vertical-middle">
	                <div class="row vertical-middle">
	                    <div class="col-md-6">
	                        <div class="figure element-top-70 element-bottom-70 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s"> <span class="figure-image">
	                        <img alt="devices" src="assets/images/creative/devices-4.png">
	                    </span> </div>
	                    </div>
	                    <div class="col-md-6">
	                        <h1 class="element-top-0 element-bottom-20 text-normal os-animation normal" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">Our Skills</h1>
	                        <div class="divider-border divider-border-left element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
	                            <div class="divider-border-inner"></div>
	                        </div>
	                        <div class="col-text-1 element-top-0 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.3s">
	                            <p>Soothed again, but only soothed to deeper gloom, Ahab, who had <strong>sterned</strong> off from the whale, sat intently watching his final <strong>wanings</strong> from the now tranquil boat. For that strange spectacle
	                                observable in all sperm whales dying—the turning sunwards of the head, and so expiring—that strange spectacle, beheld of such a placid evening, somehow to Ahab conveyed a wondrousness unknown before.</p>
	                        </div>
	                        <div class="progress element-top-0 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
	                            <div class="progress-bar progress-bar-primary" style="width: 93%;"> <span>CSS</span> </div>
	                        </div>
	                        <div class="progress element-top-0 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
	                            <div class="progress-bar progress-bar-primary" style="width: 85%;"> <span>HTML</span> </div>
	                        </div>
	                        <div class="progress element-top-0 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
	                            <div class="progress-bar progress-bar-primary" style="width: 70%;"> <span>Javascript</span> </div>
	                        </div>
	                        <div class="progress element-top-0 element-bottom-0 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
	                            <div class="progress-bar progress-bar-primary" style="width: 50%;"> <span>Photoshop</span> </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="section">
	            <div class="background-media" data-0-top-bottom="background-position: 50% 50px" data-start="background-position: 50% -31px" style="background-image: url(assets/images/creative/p03.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
	            </div>
	            <div class="background-overlay" style="background-color: rgba(96,154,167,0.7);"></div>
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-3 text-center">
	                        <div class="counter text-center element-top-60 element-bottom-0 text-light os-animation" data-count="101" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0s"> <span class="value odometer-counter super regular">0</span> </div>
	                        <h2 class="element-top-0 element-bottom-0 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0s">Completed</h2>
	                        <h2 class="element-top-0 element-bottom-0 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0s">projects</h2>
	                    </div>
	                    <div class="col-md-3 text-center">
	                        <div class="counter text-center element-top-60 element-bottom-0 text-light os-animation" data-count="148" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0.3s"> <span class="value odometer-counter super regular">0</span> </div>
	                        <h2 class="element-top-0 element-bottom-0 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.3s">Happy</h2>
	                        <h2 class="element-top-0 element-bottom-0 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.3s">customers</h2>
	                    </div>
	                    <div class="col-md-3 text-center">
	                        <div class="counter text-center element-top-60 element-bottom-0 text-light os-animation" data-count="580" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0.6s"> <span class="value odometer-counter super regular">0</span> </div>
	                        <h2 class="element-top-0 element-bottom-0 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.6s">Lines</h2>
	                        <h2 class="element-top-0 element-bottom-0 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.6s">per hour</h2>
	                    </div>
	                    <div class="col-md-3 text-center">
	                        <div class="counter text-center element-top-60 element-bottom-0 text-light os-animation" data-count="80" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0.9s"> <span class="value odometer-counter super regular">0</span> </div>
	                        <h2 class="element-top-0 element-bottom-0 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.9s">Coffee</h2>
	                        <h2 class="element-top-0 element-bottom-60 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.9s">cups</h2>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="section">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12">
	                        <h1 class="text-center element-top-80 element-bottom-20 os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Why they love us</h1>
	                        <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
	                            <div class="divider-border-inner"></div>
	                        </div>
	                        <div class="row">
	                            <div class="col-md-2"></div>
	                            <div class="col-md-8">
	                                <h2 class="text-center element-top-20 element-bottom-40 os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0.3s">We are completely crazy in love with our projects. We work closely with our clients to ensure that they will get what they want.</h2>
	                            </div>
	                            <div class="col-md-2"></div>
	                        </div>
	                        <div class="list-container row element-top-20 element-bottom-90">
	                            <div class="col-md-6 element-short-bottom">
	                                <blockquote class="blockquote-list">
	                                    <div class="box box-small box-round">
	                                        <div class="box-dummy"></div>
	                                        <div class="box-inner"> <img alt="team16-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team08-notinclude.jpg" width="150"> </div>
	                                    </div>
	                                    <p>This theme is super easy to customise and the support team is just awesome. They helped me add a few design and styling changes and guided me to customise my theme. They were very knowledgable and fast. Thanks again!
	                                        This is the best theme and support money can buy!</p>
	                                    <footer> Lisa Hughes <cite title="Source Title">Technolab</cite> </footer>
	                                </blockquote>
	                            </div>
	                            <div class="col-md-6 element-short-bottom" data-os-animation="none" data-os-animation-delay="0s">
	                                <blockquote class="blockquote-list">
	                                    <div class="box box-small box-round">
	                                        <div class="box-dummy"></div>
	                                        <div class="box-inner"> <img alt="team15-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team02-notinclude.jpg" width="150"> </div>
	                                    </div>
	                                    <p>After purchasing all of the top rated theme I find this theme to be the most intuitive. Everything is right where it's supposed to be and makes use of the best plugin combinations I have ever seen. Truly, there
	                                        are no words to describe how happy I am with this theme! Recommended</p>
	                                    <footer> Marie Clark <cite title="Source Title">Streetdax</cite> </footer>
	                                </blockquote>
	                            </div>
	                            <div class="col-md-6 element-short-bottom">
	                                <blockquote class="blockquote-list">
	                                    <div class="box box-small box-round">
	                                        <div class="box-dummy"></div>
	                                        <div class="box-inner"> <img alt="team13-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team13-notinclude.jpg" width="150"> </div>
	                                    </div>
	                                    <p>This Theme is just awesome. It is so easy to create a gorgeous looking sites. I would also like to mention their excellent and superfast support. It never took more than 2-3hours to have the correct solution. I'm
	                                        going to buy more themes of them, sure! Keep up the good work.</p>
	                                    <footer> Scott Adams <cite title="Source Title">Trisbam</cite> </footer>
	                                </blockquote>
	                            </div>
	                            <div class="col-md-6 element-short-bottom">
	                                <blockquote class="blockquote-list">
	                                    <div class="box box-small box-round">
	                                        <div class="box-dummy"></div>
	                                        <div class="box-inner"> <img alt="team11-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team05-notinclude.jpg" width="150"> </div>
	                                    </div>
	                                    <p>This theme has everything designed to help anyone build an awesome site. I purchased many themes, found that most were limited to get you what you wanted in appearance without out purchasing additional plugins.
	                                        This theme has it all! Worth every penny! Thank you guys.</p>
	                                    <footer> Matthew Rodriguez <cite title="Source Title">U-house</cite> </footer>
	                                </blockquote>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="section">
	            <div class="background-overlay" style="background-color: rgba(183,183,183,0.1);"></div>
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="flexslider flex-controls-bottom element-top-60 element-bottom-60" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="hide" data-flex-controlsalign="center" data-flex-controlsposition="inside"
	                            data-flex-controlsvertical="bottom" data-flex-directions="show" data-flex-duration="600" data-flex-itemwidth="186" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" id="flexslider-55">
	                            <ul class="slides">
	                                <li>
	                                    <figure> <img alt="client1" class="attachment-full wp-post-image" data-original-title="Red-fan" data-toggle="tooltip" height="200" src="assets/images/creative/client1.png" width="400"> </figure>
	                                </li>
	                                <li>
	                                    <figure> <img alt="client2" class="attachment-full wp-post-image" data-original-title="Freetax" data-toggle="tooltip" height="200" src="assets/images/creative/client2.png" width="400"> </figure>
	                                </li>
	                                <li>
	                                    <figure> <img alt="client5" class="attachment-full wp-post-image" data-original-title="Remedia" data-toggle="tooltip" height="200" src="assets/images/creative/client5.png" width="400"> </figure>
	                                </li>
	                                <li>
	                                    <figure> <img alt="client4" class="attachment-full wp-post-image" data-original-title="Streetway" data-toggle="tooltip" height="200" src="assets/images/creative/client4.png" width="400"> </figure>
	                                </li>
	                                <li>
	                                    <figure> <img alt="client3" class="attachment-full wp-post-image" data-original-title="Scotex" data-toggle="tooltip" height="200" src="assets/images/creative/client3.png" width="400"> </figure>
	                                </li>
	                                <li>
	                                    <figure> <img alt="client7" class="attachment-full wp-post-image" data-original-title="Moveit" data-toggle="tooltip" height="200" src="assets/images/creative/client7.png" width="400"> </figure>
	                                </li>
	                                <li>
	                                    <figure> <img alt="client6" class="attachment-full wp-post-image" data-original-title="Redlex" data-toggle="tooltip" height="200" src="assets/images/creative/client6.png" width="400"> </figure>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	    </article>
    <% include layouts/footer %>
    </div>
    <a class="go-top go-top-circle" href="javascript:void(0)"> <i class="fa fa-angle-up"></i> </a>

    

    <script type="text/javascript">
        var oxyThemeData = {
            navbarHeight: 100,
            navbarScrolled: 60,
            navbarScrolledPoint: 20,
            menuClose: 'off',
            scrollFinishedMessage: 'No more items to load.',
            hoverMenu:
            {
                hoverActive: false,
                hoverDelay: 1,
                hoverFadeDelay: 200
            },
            siteLoader: 'on'
        };
    </script>
    <script src="javascripts/theme.min.js"></script>

</body>


</html>